<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="contact">
    <h1>
        Merci {{ request.nomClient }}, votre message a été reçu. <br>
        Vous avez mis la note de {{ request.noteProduit }} à notre produit. <br>
        Vous allez recevoir un mail de validation à l'adresse suivante : {{ request.emailClient }}
    </h1>

    <bouton>
        <a href="{{ path('feedback_list') }}">Retourner à la liste des Feedbacks</a>
    </bouton>
</body>
</html>